/* step1.css */

.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .step-content {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
    text-align: center;
  }
  
  .step-label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: small;
    text-align: left;
  }
  
  .step-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .step-input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 5px rgba(78, 78, 249, 0.5);
  }
  
  .step-error {
    color: #ff0000;
    font-size: small;
  }
  
  .step-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .step-button:hover {
    background-color: #737373;
  }
  