body{
  margin: 0;
}

li,a{
    font-family: "Montserrat" , sans-serif;
    font-weight: 800;
    font-size: 12px;
    color:#666666;
    text-decoration : none;
}


a:hover{
  color: black;
}


.logo-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.appName::before {
  content: ''; /* Empty content for pseudo-element */
  background-image: url('../../../public/images/logo.png');
  background-size: contain; /* Ensure the logo fits within the specified dimensions */
  width: 40px; /* Adjusted logo size */
  height: 40px;
  margin-right: 8px;
  margin-left: 50px;
  display: inline-block;
  }
  
  .appName {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: #333333;
    /* margin: 0 16px; */
  }



  
.hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:8px;
  background-color: #ffffff !important;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  margin: 0;
}

.btn {
  background-color: #000000; /* Added button background color */
  color: #fcfcfc;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 14px; /* Adjusted font size */
}

button:hover {
  background-color: #efefef; 
  /* Added hover effect color */
  color: #333333;
}

/* Media query for responsive design (adjust as needed) */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .appName {
    margin: 10px 0;
  }

  nav {
    margin-top: 10px;
  }
}