@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #efefef ; */
}




.logo-container {
    display: flex;
    align-items: center;
  }
  
  
  .appName::before {
    content: ''; 
    background-image: url('../../public/images/logo.png');
    background-size: contain; 
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-left: 50px;
    display: inline-block;
    }
    
    .appName {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      /* color: #333333; */
      height: 100%;
      /* margin: 0 16px; */
    }


    .adminName::after{
      content:'Admin';
      font-size: 0.6em;
      color: #ff5757;
      margin-left: 5px;
    }
  
  
.break-line {
  flex-grow: 1;
  height: 1px;
  background-color: #c9c9c9;
  margin: 0 10px;
}

.ad-container{
  display: flex;
  flex-direction: row;
  max-width: 100%;
}